body {
    background-color: rgb(207, 107, 79);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color:black;
}
ul{
    box-sizing: border-box;
    background-color: white;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -15px;
    text-align: center;
    font-size: 4vw;
    border-bottom: 6px dotted black;
}
ul{
<<<<<<< HEAD:index.css
    display:flex;
    gap: 100px;
    display: flex; justify-content: center;
    display: flex; align-content: center;
    
}
=======
    text-align: left;
    text-align: center;
}
 
>>>>>>> d4e35c5341e2d46b5ef320024c79ef622deae70f:Untitled-1.css
